.account-space{
  text-align: center;
}

p {
  font: 14px "Open Sans", "Segoe UI", "Tahoma";
}

em {
  font-size: 18px;
  padding: 2px;
  margin: 0px;
  color: #e004e0;
}

.account-input{
  padding: 4px;
  margin-left: 4px;
  border-radius: 5px;
}

.account-form-section{
  padding-top: 10px;
  padding-bottom:10px;
}

.account-button{
  padding: 10px;
  border-radius: 10px;
  border: none;
  font: 14px "Open Sans", "Segoe UI", "Tahoma";
  color: white;
  background-color: #e004e0;
  margin: 5px 10px;
}