.recoList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 0px 21%;
    text-align: center;
  }
  
 
.recommended{
  text-align: center;
}

  .apiCall{
     
    position: fixed;
    right: 230px;
    top: 300px;
    border-radius: 10px;
    width: 80px;
    height: 200px;

    z-index: 9;
    
  
    border: none;
    font: 26px "Open Sans", "Segoe UI", "Tahoma";
    color: white;
  }

.detailsCard{
  position: fixed;
  display: grid;
  grid-template: 
  "poster name" 75px
  "poster score" 35px
  "poster addButton" 40px
  "overview overview" 150px/
  100px 200px;
  
  height: 290px;
  width: 300px;
  top: 60%;
  left: 50%;
  margin-top: -160px;
  margin-left: -156px;
  padding: 5px;
  background-color: #0c1727ff;
  border: 2px solid #e004e0;
  border-radius: 20px;
  z-index: 1;
  text-align: left;
  
}
.detailsPoster img{
  display: block;
  height: 150px;
  width: auto;
  border-radius: 10px;
}

.detailsPoster{
  grid-area: poster;
padding: 4px;
margin: 4px;
}

.detailsName{
  grid-area: name;
  padding-left: 20px;
  margin: 0px;
}


.detailsScore{
grid-area: score;
padding-left: 20px;
margin: 4px;
}
 
.detailsAddButton{
  grid-area: addButton;
  padding-left: 20px;
margin: 4px;
margin-top: 15px;
}

.detailsOverview{
  grid-area: overview;
  text-align: left;
  padding: 4px;
margin: 4px;
}

.cancelButton{
  position: relative;
  top: -315px;
  left: 275px;
}

  @media screen and (max-width: 1500px) {
    .apiCall{
      right: 150px;
       
    }
  }

  @media screen and (max-width: 1110px) {
    .apiCall{
      right: 80px;
       
    }
  }

  @media screen and (max-width: 770px) {
    .apiCall{
      right: 40px;
       
    }
  }

  @media screen and (max-width: 550px) {
      
    .recoList{
        padding: 0px;
      }

      .apiCall{
        right: 5px;
        top: 160px;

        border-radius: 50%;
        width: 60px;
        height: 60px;

        font-size: 18px;
      }
}