.addContainer {
  text-align: center;
}


.addButton {
  border-radius: 10px;
  padding: 8px 12px;

  border: none;
  font: 12px "Open Sans", "Segoe UI", "Tahoma";
  color: white;
}

.movCard {
  flex: 1 0 ;
  margin: 2px;
  text-align: center;
  /* border: 2px solid #0c1727ff; */
  padding: 1px;
}

.poster{
  height: 278px;
  width: 185px;
  border-radius: 10px;
}

.poster:hover{
  cursor: pointer;
}

.title {
  margin-top: 5px;
  margin-bottom: 10px;
}

@media screen and (max-width: 550px) {
  .poster{
    height: auto;
    width: 240px;
  }

  .movCard {
    flex: 2 0 1%;
    margin: 2px 0px;
    padding: 0px 0px 20px 0px;
    border-right: 0px;
    border-left: 0px;
    border-top: 2px solid #0c1727ff;
    border-bottom: 2px solid #0c1727ff;
  }
  

}